# Backend
backend/venv/
backend/__pycache__/
*.pyc
# Frontend
frontend/node_modules/
frontend/build/

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/
.vite

# Docker
*.env
*.pem

# Editor
.vscode/
.idea/
